Source: squirrelmail
Section: web
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Jeroen van Wolffelaar <jeroen@wolffelaar.nl>
Uploaders: Thijs Kinkhorst <thijs@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.4
Homepage: http://www.squirrelmail.org/
Vcs-Svn: http://svn.wolffelaar.nl/squirrelmail/trunk
Vcs-Browser: http://svn.wolffelaar.nl/wsvn/squirrelmail/trunk

Package: squirrelmail
Architecture: all
Depends: perl, ${misc:Depends}
Recommends: squirrelmail-locales, squirrelmail-viewashtml, ispell | aspell | aspell-bin
Suggests: squirrelmail-decode, php-recode, imap-server, imapproxy, php-pear, php-ldap
Description: Webmail for nuts
 SquirrelMail is a standards-based webmail package written in PHP. It
 includes built-in pure PHP support for the IMAP and SMTP protocols, and
 is designed for maximum compatibility across browsers. SquirrelMail has
 few requirements and is easy to configure and install. It runs on top of
 any IMAP server.
 . 
 SquirrelMail has all the functionality you would want from an email client,
 including strong MIME support, address books and folder manipulation.
